@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css?family=Victor+Mono');
@import url('https://fonts.cdnfonts.com/css/ocr-a-std');
@import url('https://fonts.cdnfonts.com/css/freecam2');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
    font-family: "OCR A Std";
    --black: 16, 17, 21;
    --white: 246, 245, 242;
    --grey: 73, 71, 92;
    --bg: 24, 25, 38;
    --fg: 41, 44, 72;
}

body {
    background-color: rgb(var(--bg));
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.outer-box {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.column {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 12px;
    box-sizing: border-box;

    &.left {
        width: 380px;
    }

    &.right {
        width: calc(100% - 380px);
        @media screen and (max-width: 800px) {
            display: none;
        }
    }
}

.page-wrapper {
    min-width: 380px;
    height: 550px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid rgb(var(--black));
}

#paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    margin: 4px;

    span {
        margin: 8px;
        cursor: pointer;
    }
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(var(--grey));
    transition: background-color 0.4s ease-in;

    &.active, &:hover {
        background-color: rgb(var(--accent));
    }
}

.word {
    padding: 4px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    color: rgb(var(--grey));
    transition: color 0.4s ease-in;
    position: relative;

    &.active, &:hover, &:focus {
        color: rgb(var(--accent));

        &::before {
            transform: scale(1);
        }
    }
}

.word::before {
    content: "";
    position: absolute;
    width: calc(100% - 8px);
    height: 0.1em;
    bottom: -0.1em;
    left: 0;
    margin-left: 4px;
    background-color: rgb(var(--accent));
    transform: scale(0);
    transform-origin: center;
    transition-property: transform, color;
    transition: 0.4s ease-in;
}

#wrapper {
    height: 550px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid rgb(var(--black));
    filter: brightness(0.85);
    z-index: 1;
}

#greeting-wrapper {
    position: relative;
    width: 100%;
    height: 2ch;
    font-size: 18px;
    top: 12px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(var(--black), 0) 0%,
        rgba(var(--black), 1) 10%,
        rgba(var(--black), 1) 90%,
        rgba(var(--black), 0) 100%
    );
    background-color: rgb(var(--fg));

    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

greeting-loop {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: space-around;
}

.looping {
    line-height: 2.3ch;
    padding: 0px 100px;
    color: rgb(var(--accent));
    white-space: nowrap;
    box-sizing: border-box;
    animation: loop-text 10s linear infinite;

    &.delayed {
        animation-delay: 5s;
    }
}

.looping[data-before=true]::before {
    content: ' ' var(--before) ' ';
    position: relative;
    top: 3px;
}

.looping[data-after=true]::after {
    content: ' ' var(--after) ' ';
    position: relative;
    top: 3px;
}

@keyframes loop-text {
    0% {transform: translate(0%, 0%);}
    100% {transform: translate(100%, 0);}
}

.icon-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    display: inline-block;
    background-color: rgba(var(--accent), 0.7);
    border-radius: 8px;
    opacity: 0.6;
    padding: 10px;
    
    & object {
        width: 16px;
        height: 16px;
    }
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    
    transition: all .5s ease-in-out;
    &::after {
        content: attr(data-text);
        line-height: 16px;
        vertical-align: top;
        margin-left: 2px;
    }

    &:hover, &:focus {
        opacity: 0.9;
        width: 180px;
    }
}

